ion-content {
  --overflow-y: hidden;
  --background: #d8b4f3;
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 85%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  max-height: 90%; 
  overflow-y: auto; 
  padding-bottom: 15px;
}
ion-row {
  width: 100%; /* Ograniczenie szerokości do pełnej przestrzeni, jeśli potrzeba */
}

ion-col {
  padding: 10px; /* Dodanie przestrzeni padding do kolumn */
}
.back-button {
  font-size: 1.5rem;
  font-weight: bold;
  color: #555555;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.back-text {
  font-size: 1rem;
  font-weight: 500;
  color: #555555;
}

.sub-header {
  font-size: 1.2rem;
  color: #555555;
  text-align: left;
  margin-bottom: 10px;
}

.header {
  font-size: 1.5rem;
  color: #000000;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.options-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px 0;
}

.option-card {
  background-color: #e9d5f7;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  width: 90%;
  height: calc(100px + 2vh); 
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s;
}

.option-card:hover {
  transform: scale(1.05);
  background-color: #d3bce9;
}

/* Media Queries */
@media (max-width: 480px) {
  .card {
    padding: 15px;
    width: 90%;
  }

  .back-button {
    font-size: 1.2rem;
  }

  .back-text {
    font-size: 0.9rem;
  }

  .sub-header {
    font-size: 1rem;
  }

  .option-card {
    padding: 10px;
    font-size: 1rem;
    width: 95%;
    height: calc(80px + 2vh); 
  }
}
