<ion-content>
  <app-card
  [showHeader]="false"
  [subHeader]="'Wybierz podkategorię:'"
  [options]="['ALKOHOL', 'OWOCE', 'SUCHE']"
  (optionSelected)="onOptionSelected($event)"
  [hasBackButton]="true"
  (backClicked)="onBackClick()">
  </app-card>
  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>OPCJE ALKOHOL</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <ion-item (click)="navigateTo('ALKOHOL BAR')">
            <ion-label>ALKOHOL BAR</ion-label>
          </ion-item>
          <ion-item (click)="navigateTo('BUTELKI MAGAZYN')">
            <ion-label>BUTELKI MAGAZYN</ion-label>
          </ion-item>
          <ion-item (click)="navigateTo('PIWO')">
            <ion-label>PIWO</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-button id="open-modal" hidden>Otwórz Modal</ion-button>
</ion-content>
