<ion-content class="ion-content-main">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Prowadzisz Inwentaryzację</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="category-list">
        <!-- Kategoria Alkohol z podkategoriami -->
        <ion-item (click)="toggleSubOptions('alkohol')">
          <ion-label>ALKOHOL</ion-label>
          <ion-icon slot="end" [name]="expandedOption === 'alkohol' ? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-item>
        <div *ngIf="expandedOption === 'alkohol'" class="sub-options">
          <ion-item (click)="openProductModal('Alkohol Bar')">
            <ion-label>ALKOHOL BAR</ion-label>
          </ion-item>
          <ion-item (click)="openProductModal('Butelki')">
            <ion-label>BUTELKI</ion-label>
          </ion-item>
          <ion-item (click)="openProductModal('Piwo')">
            <ion-label>PIWO</ion-label>
          </ion-item>
        </div>
        <ion-item (click)="openProductModal('Owoce')">
          <ion-label>OWOCE</ion-label>
        </ion-item>
        <ion-item (click)="openProductModal('Suche')">
          <ion-label>SUCHE</ion-label>
        </ion-item>
      </ion-list>

      <!-- Przyciski dodawania produktów -->
      <ion-button
        class="add-button"
        shape="round"
        color="primary"
        *ngFor="let category of categories"
        (click)="openAddProductForm(category.id)">
        <ion-icon name="add"></ion-icon>
      </ion-button>

      <!-- Przyciski do anulowania i zakończenia inwentaryzacji -->
      <div class="button-container no-scroll">
        <ion-button class="rounded-button cancel-button" (click)="confirmCancelInventory()" color="danger">
          Anuluj Inwentaryzację
        </ion-button>
        <ion-button class="rounded-button finish-button" (click)="confirmFinishInventory()" color="primary">
          Zakończ Inwentaryzację
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Modal dla produktów -->
  <ion-modal #productModal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Zmień stan produktów</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="productModal.dismiss()">Zamknij</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
        <div class="product-grid">
          <!-- Pojedynczy produkt -->
          <div class="product-row" *ngFor="let product of selectedProducts">
            <!-- Kolumna 1: Zdjęcie produktu -->
            <div class="product-image">
              <img [src]="getFullImageUrl(product.image)" alt="{{ product.name }}" />
            </div>
  
            <!-- Kolumna 2: Nazwa produktu -->
            <div class="product-name" [ngClass]="{ 'long-text': product.name.length > 12 }">
              <span>{{ product.name }}</span>
            </div>
  
            <!-- Kolumna 3: Ilość i jednostka -->
            <div class="product-controls">
              <div class="quantity-control">
                <ion-label>Ilość:</ion-label>
                <ion-input
                  [(ngModel)]="product.quantity"
                  type="number"
                  min="0"
                  class="editable-input"
                  (ngModelChange)="onQuantityChange(product)">
                </ion-input>
                <ion-input class="unit-control" [(ngModel)]="product.unit" ></ion-input>
              </div>
            </div>
            
            <div class="icon-column">
              <ion-icon
                name="eye"
                class="icon-eye"
                (click)="openProductDetailsModal(product)">
              </ion-icon>
            </div>
          </div>
        </div>
  
        <!-- Przycisk dodaj -->
        <ion-button
          class="add-button"
          shape="round"
          color="primary"
          *ngFor="let category of categories" (click)="openAddProductForm(category.id)">
          <ion-icon name="add"></ion-icon>
        </ion-button>

        <!-- Przycisk zapisz -->
        <ion-button
          class="save-button"
          expand="block"
          color="primary"
          (click)="saveProducts()">
          Zapisz
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  

  <!-- Modal Szczegóły Produktu -->
  <ion-modal #productDetailsModal>
    <ng-template>
      <ion-content fullscreen class="product-details-modal">
        <!-- Obszar zdjęcia -->
        <div class="image-container">
          <ion-button class="back-button" (click)="closeProductDetailsModal()" fill="clear">
            <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
          </ion-button>
          <img
            [src]="getFullImageUrl(selectedProduct?.image)"
            alt="Zdjęcie produktu"
            onerror="this.src='assets/placeholder.png'" />
        </div>
  
        <div class="details-container">
          <h2>{{ selectedProduct?.name || 'Nazwa produktu' }}</h2>
  
          <div class="row">
            <span class="label">Ilość obecna:</span>
            <span class="value">
              {{ selectedProduct?.quantity || '0' }}
              {{ selectedProduct?.unit || '' }}
            </span>
          </div>
  
          <div class="row">
            <span class="label">Ostatnia inwentaryzacja:</span>
            <span class="value">
            </span>
          </div>
  
          <div class="row">
            <span class="label">Ostatnia strata:</span>
            <span class="value">
            </span>
          </div>
  
          <div class="row">
            <span class="label">Data ważności:</span>
            <span class="value">
              {{ selectedProduct?.expiryDate | date: 'dd-MM-yyyy'  || 'Brak danych' }}
            </span>
          </div>
  
          <div class="row">
            <span class="label">Kod kreskowy:</span>
            <span class="value">
              {{ selectedProduct?.barcode || 'Brak danych' }}
            </span>
          </div>
  
          <!-- Przycisk usunięcia -->
          <button class="delete-button" (click)="confirmDeleteProduct()">
            Usuń produkt
          </button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  

  <!-- Modal Potwierdzenia Anulowania -->
  <ion-modal #cancelModal class="finish-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Potwierdzenie</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
        <ion-item>
          <ion-label>
            Czy na pewno chcesz anulować inwentaryzację? Wszystkie niezapisane zmiany zostaną utracone.
          </ion-label>
        </ion-item>
  
        <div class="button-containerfinish">
          <ion-button class="rounded-button cancel-modal-button" expand="full" color="danger" (click)="cancelInventory()">Tak, Anuluj</ion-button>
          <ion-button class="rounded-button cancel-button" expand="full" color="light" (click)="cancelModal.dismiss()">Wróć</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  

  <!-- Modal Potwierdzenia Zakończenia Inwentaryzacji -->
  <ion-modal #finishModal class="finish-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Potwierdzenie</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
        <ion-item>
          <ion-label>
            Czy na pewno chcesz zakończyć inwentaryzację? Wszystkie zmiany zostaną zapisane.
          </ion-label>
        </ion-item>
  
        <div class="button-containerfinish">
          <ion-button class="rounded-button finish-button" expand="full" color="primary" (click)="finishInventory()">Zakończ</ion-button>
          <ion-button class="rounded-button cancel-button" expand="full" color="light" (click)="finishModal.dismiss()">Anuluj</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  
  
  <!-- Modal Potwierdzenia Usunięcia Produktu -->
  <ion-modal #deleteProductModal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Potwierdzenie</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-item>
          <ion-label>Czy na pewno chcesz usunąć ten produkt?</ion-label>
        </ion-item>
        <ion-button color="danger" expand="full" (click)="deleteProduct()">Usuń</ion-button>
        <ion-button expand="full" (click)="closeDeleteProductModal()">Anuluj</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
