body, html {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ion-content {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.no-scroll{
  --overflow: hidden;
}

.product-modal-content {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  padding-bottom: 60px;
}

.product-card {
  max-width: 100%;
  width: 95%;
  margin: 10px auto;
  padding: 10px;
  font-size: 14px;
  min-height: 100px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card ion-card-content {
  min-height: 150px;
}

ion-card {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--ion-color-light);
  padding: 10px;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  height: 95%;
  overflow-y: hidden;
}

ion-card-header {
  color: white;
  padding: 1px;
  border-radius: 12px 12px 0 0;
  text-align: center;
}

ion-toolbar {
  text-align: center;
  width: 100%;
}

ion-title {
  font-size: 16px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.product-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 150px;
}

/* Rząd produktu */
.product-row {
  display: grid;
  grid-template-columns: 60px 1fr 115px 20px;;
  align-items: center;
  background-color: #f3e5f5; /* Jasny fiolet */
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Kolumna 1: Zdjęcie produktu */
.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.product-image ion-img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  object-fit: cover;
}

/* Kolumna 2: Nazwa produktu */
.product-name {
  font-size: 14px;
  font-weight: bold;
  overflow-wrap: break-word;
  text-align: left;
  word-wrap: break-word !important;
  hyphens: auto;
  }

/* Kolumna 3: Ilość i jednostka */
.product-controls {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.quantity-control, .unit-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.quantity-control ion-label, .unit-control ion-label {
  font-size: 12px;
  font-weight: bold;
}

.unit-control ion-label {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap; /* Aby ograniczyć szerokość jednostki */
}

.icon-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-row .icon-eye {
  position: relative;
  top: 0px;
  right: 0px;
  font-size: 18px;
  color: var(--ion-color-primary);
  cursor: pointer;
  z-index: 10;
}

.editable-input {
  background-color: var(--ion-color-light);
  padding: 5px;
  font-size: 12px;
  height: 30px;
  width: 120px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.quantity-label, .unit-label {
  font-size: 12px;
  margin-bottom: 5px;
}

.save-button {
  position: fixed;
  bottom: 20px;
  left: 10%;
  right: 10%;
  z-index: 10;
  width: auto;
  max-width: 500px;
  font-size: 18px;
}

.add-button {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.add-button .add-icon {
  font-size: 36px;
  color: #ffffff;
}

.button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  z-index: 10;
}

.rounded-button, .cancel-button, .finish-button {
  flex: 1;
  border-radius: 40px;
  margin: 10px 0;
  width: auto;
  font-size: 14px;
  padding: 12px 0;
  text-transform: none;
}

.cancel-button {
  background-color: var(--ion-color-light);
  color: var(--ion-color-dark);
}

.finish-button {
  color: #fff;
}

.category-list {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category-list ion-item {
  height: 50px;
  align-items: center;
}

.category-list ion-item ion-label {
  font-size: 1rem;
  font-weight: 400;
}

.category-list ion-item ion-icon {
  font-size: 1.6rem;
}

.icon-eye {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 18px;
  color: var(--ion-color-primary);
  cursor: pointer;
  z-index: 10;
}

.finish-modal, .custom-alert {
  --width: 90%;
  --max-width: 600px;
  --border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 10px;
}

.finish-modal {
  --height: 200px;
  --min-height: 200px;
  overflow: hidden;
}

.finish-modal .button-containerfinish {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.finish-modal .rounded-button {
  flex: 1;
  margin: 0 5px;
  max-width: 45%;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 50px;
}

.finish-modal .cancel-button {
  background-color: var(--ion-color-light);
  color: var(--ion-color-dark);
}

.finish-modal .cancel-modal-button {
  background-color: var(--ion-color-danger);
  color: var(--ion-color-dark);
}

.finish-modal .finish-button {
  background-color: var(--ion-color-primary);
  color: white;
}

@media (max-width: 600px) {
  .button-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 10px;
  }

  .rounded-button {
    width: 100%;
    margin: 5px 0;
    font-size: 16px;
    padding: 6px 10px;
  }

  ion-card {
    padding: 10px;
    width: 90%;
  }

  .finish-modal .button-container {
    flex-direction: column;
    padding: 8px;
  }

  .finish-modal .rounded-button {
    font-size: 12px;
    padding: 6px 10px;
    width: 90%;
    margin-bottom: 8px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .rounded-button {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .finish-modal .ion-header, .finish-modal .ion-toolbar {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 35px;
  }

  .finish-modal .ion-title {
    font-size: 14px;
  }
}
