<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Przegląd strat</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="custom-back-button" text="Powrót" defaultHref="/home-admin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <ion-card class="losses-card">
    <ion-card-header>
      <ion-card-title>Lista strat</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="custom-grid">
       
        <!-- Rekordy strat w kafelkach -->
        <ion-row *ngFor="let loss of losses" class="record-row">
          <ion-col size="12" class="ion-padding">
            <ion-card class="loss-card">
              <ion-card-header>
                <ion-card-title>{{ loss.productName }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p><strong>Ilość:</strong> {{ loss.quantity }}</p>
                <p><strong>Powód:</strong> {{ loss.reason }}</p>
                <p><strong>Data:</strong> {{ loss.date | date: 'dd-MM-yyyy' }}</p>
                <p><strong>Kategoria:</strong> {{ getCategoryName(loss.categoryId) }}</p> <!-- Dodanie kategorii -->
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ng-template #noData>
    <p>Brak rekordów strat do wyświetlenia.</p>
  </ng-template>
</ion-content>
