html, body {
    height: 100%;
    overflow: hidden; 
  }
  
ion-content {
    --overflow-y: hidden !important;
}

ion-header {
  --margin-bottom: 0px;
}
.logout-icon {
  position: absolute;
  top: 16px; /* Odstęp od góry */
  right: 16px; /* Odstęp od prawej */
  z-index: 10; /* Zapewnia, że ikona jest na wierzchu */
}

ion-button {
  --padding-start: 0;
  --padding-end: 0;
  --icon-size: 24px; /* Zmienia wielkość ikony */
}
