html, body {
    height: 100%;
    overflow: hidden; 
  }
  
ion-content {
    --overflow-y: hidden !important;
}

ion-header {
  --margin-bottom: 0px;
}
.logout-icon {
  position: absolute;
  right: 10px; 
  z-index: 10;
}

ion-button {
  --padding-start: 0;
  --padding-end: 0;
  --icon-size: 28px;
}
