<ion-content>
  <div class="card">
    <!-- Wyrównanie przycisku i napisu do lewej -->
    <div class="back-button-row">
      <div class="back-button">&lt;</div>
      <div class="back-text">Wróć</div>
    </div>
    
    <!-- Nagłówek -->
    <div class="sub-header">
      Wybierz kategorię inwentaryzacji:
    </div>
    
    <div class="options-wrapper">
      <div class="option-card">BAR</div>
      <div class="option-card">KUCHNIA</div>
      <div class="option-card">CHEMIA</div>
    </div>
  </div>
</ion-content>
