ion-content {
  --background: #f5f5ff;
}

.inventory-card {
  background-color: #f7f2ff;
  border-radius: 15px;
  max-width: 95%; 

}
.custom-grid {
  max-width: 100%; 
}

.header-row {
  font-weight: bold;
  font-size: 16px;
  color: #4a306d;
  margin-bottom: 10px;
}

.header-label {
  text-align: left;
  align-content: center;
  font-size: 13px;
}

.record-row {
  background-color: #eee9ff;
  padding: 8px 0; 
  border-radius: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.product-name {
  font-weight: bold;
  text-align: left;
  font-size: 17px;
}

.text-center {
  text-align: center;
  font-size: 13px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-icon {
  font-size: 20px; 
  color: #4a306d; 
}

ion-title {
  padding: 0px;
}

ion-card-title {
  font-size: 20px;
}