<ion-content class="main">
  <div class="center-container">
    <!-- Karta wyboru daty -->
    <ion-card class="header-card">
      <ion-card-content>
        <div class="header-card-content">
          <div class="header-row">
            <!-- Przycisk powrotu -->
            <ion-button class="back-button" fill="clear" (click)="goBack()">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>

            <!-- Tytuł strony -->
            <h1 class="header-title">Sprawdź inwentaryzację</h1>
          </div>

          <!-- Pasek wyboru daty -->
          <div class="date-picker-row">
            <label for="date-select" class="date-picker-label">Wybierz datę:</label>
            <ion-select id="date-select" [(ngModel)]="selectedDate" (ionChange)="fetchInventory()" class="date-picker">
              <ion-select-option *ngFor="let date of availableDates" [value]="date">
                {{ date | date:'dd-MM-yyyy' }}
              </ion-select-option>
            </ion-select> 
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Rekordy dla wybranej daty -->
  <ion-card *ngIf="groupedInventoryDetails && groupedInventoryDetails.length > 0" class="inventory-card-main">
    <ion-card-header>
      <ion-card-title>
        Rekordy dla {{ selectedDate | date: 'yyyy-MM-dd' }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="custom-grid">
        <ng-container *ngFor="let group of groupedInventoryDetails">
          <ion-card class="inventory-card">
            <ion-card-header>
              <ion-card-title>Kategoria: {{ group.categoryName }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <!-- Nagłówek -->
              <div class="inventory-header-row">
                <div class="inventory-header-label">Produkt</div>
                <div class="inventory-header-label">Ile było?</div>
                <div class="inventory-header-label"></div>
                <div class="inventory-header-label">Ile jest?</div>
              </div>
    
              <!-- Rekordy -->
              <div *ngFor="let record of group.records" class="inventory-record-row">
                <div class="product-name">{{ record.productName }}</div>
                <div>{{ record.previousQuantity }}</div>
                <div class="icon-container"><ion-icon name="arrow-forward-outline"></ion-icon></div>
                <div>{{ record.quantity }}</div>
              </div>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </div>
    </ion-card-content>
    
  </ion-card>

  <ng-template #noData>
    <p>Brak rekordów do wyświetlenia.</p>
  </ng-template>
</ion-content>
