
<ion-content class="ion-padding">
  <!-- Opakowanie formularza w ion-card -->
  <div class="center-container">
    <ion-card class="add-product-card">
      <ion-card-header>
        <ion-card-title>Dodaj Nowy Produkt</ion-card-title>
        <ion-button class="close-button" fill="clear" (click)="closeCard()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="addProduct()">
          <!-- Pole nazwy produktu -->
          <ion-item>
            <ion-label position="floating">Nazwa Produktu</ion-label>
            <ion-input [(ngModel)]="product.name" name="name" required></ion-input>
          </ion-item>

          <!-- Pole jednostki -->
          <ion-item>
            <ion-label position="floating">Jednostka</ion-label>
            <ion-input [(ngModel)]="product.unit" name="unit" required></ion-input>
          </ion-item>

          <!-- Pole wyboru kategorii -->
          <ion-item>
            <ion-label position="floating">Kategoria</ion-label>
            <ion-select [(ngModel)]="product.categoryId" name="categoryId" interface="popover" required>
              <ion-select-option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <!-- Pole Minimalna Ilość -->
          <ion-item>
            <ion-label position="floating">Minimalna Ilość</ion-label>
            <ion-input [(ngModel)]="product.minimalQuantity" name="minimalQuantity" type="number" min="0" required></ion-input>
          </ion-item>

          <ion-item lines="none" class="info-toggle">
            <ion-button 
              expand="block" 
              shape="round" 
              (click)="showAdditionalInfo = !showAdditionalInfo">
              <ion-icon 
                slot="start" 
                [name]="showAdditionalInfo ? 'remove-circle-outline' : 'add-circle-outline'">
              </ion-icon>
              {{ showAdditionalInfo ? 'Ukryj dodatkowe informacje' : 'Dodaj dodatkowe informacje' }}
            </ion-button>
          </ion-item>

          <!-- Dodatkowe pola (ukryte domyślnie) -->
          <ng-container *ngIf="showAdditionalInfo">

            <!-- Pole Kod kreskowy -->
            <ion-item>
              <ion-label position="floating">Kod kreskowy</ion-label>        
              <ion-input [(ngModel)]="product.barcode" name="barcode" type="number"></ion-input>
            </ion-item>
            <ion-button (click)="scanBarcode()" expand="block" color="primary">
              <ion-icon name="barcode-outline"></ion-icon> Zeskanuj
            </ion-button>

            <ion-text *ngIf="product.barcode">
              <p><strong>Zeskanowany kod:</strong> {{ product.barcode }}</p>
            </ion-text>

            <!-- Pole Data ważności -->
            <ion-item>
              <ion-label>Data Ważności</ion-label>
              <ion-button (click)="toggleDatePicker()" expand="block" color="medium">
                Wybierz Datę
              </ion-button>
            </ion-item>
        
            <!-- Kalendarz (ukryty, dopóki użytkownik go nie otworzy) -->
            <div *ngIf="showDatePicker" style="margin: 16px 0;">
              <ion-item>
                <ion-label position="floating">Wybierz Datę</ion-label>
                <ion-datetime [(ngModel)]="product.expiryDate" name="expiryDate" presentation="date"></ion-datetime>
              </ion-item>
            </div>

            <!-- Pole Wybierz Obraz -->
            <ion-item>
              <ion-label>Dodaj Obraz</ion-label>
              <ion-button fill="outline" (click)="triggerFileInput()" color="medium">
                <ion-icon name="image-outline"></ion-icon> Wybierz Obraz
              </ion-button>
            </ion-item>
            <input 
              type="file" 
              #fileInput 
              (change)="onFileSelected($event)" 
              accept="image/*" 
              style="display: none;" 
            />
            <ion-text *ngIf="selectedFile" color="dark">
              <p style="margin-top: 8px; font-size: 14px; text-align: center;">
                <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
                Wybrano plik: <strong>{{ selectedFile?.name }}</strong>
              </p>
            </ion-text>
            
            
            <ion-text *ngIf="selectedFile" color="dark">
              <p style="margin-top: 8px; font-size: 14px;">
                Wybrano plik: {{ selectedFile?.name }}
              </p>
            </ion-text>
          </ng-container>
          
          <ion-text color="danger" class="reminder-text">
              Pamiętaj, aby dodać ilość dodawanego produktu w inwentaryzacji!
          </ion-text>
          
          <!-- Przycisk Dodaj Produkt -->
          <ion-button expand="full" type="submit" shape="round">Dodaj Produkt</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
